<div class="page-header col-lg-10 col-md-10 col-sm-10 col-xs-10">
  <h1> Welcome This is the Index Page of all the posts </h1>

</div>


<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
<table class="table table-hover ">
  <tr>
    <th>Title</th>
    <th colspan="2">Tags</th>
  </tr>


<% @posts.each do |post| %>
  <tr>
    <td> <%= link_to(post.title,post_path(post.id)) %> </td>
    <td> <%= post.tags.map(&:name).join(", ")%> </td>

  </tr>
<% end %>
</table>
</div>